<section class="home-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

                <h1 class="app-title">A.S.A.P BURG!</h1>

                <input type="text" rows="4" id="type-burger">
                </input>
                <br>
                <input type="submit" id="submit-burger">
                <p>ORDER DA BURGER YOU WANNA GRUB!</p>

            </div>
        </div>
    </div>
</section>

<section class="burgers">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 burger-items">
                
                <h2 class="burger-titles">Burgers!</h2>

                <ul>
                    {{#each burgers}}
                        {{#unless grubbed}}
                        {{> burgers/burger-block grubbed=false}}
                        {{/unless}}
                    {{/each}}
                </ul>

                <h2 class="burger-titles">Burgers GRUBBED!</h2>

                <ul>
                    {{#each burgers}}
                        {{#if grubbed}}
                        {{> burgers/burger-block grubbed=true}}
                        {{/if}}
                    {{/each}}
                </ul>

            </div>
        </div>
    </div>
</section>
